.Body{
  max-width: 1029.8px;
  margin: auto;
  background-color: #d4d4d4;
  margin-top: 60px;
  padding: 25px;
  font-family: 'Libre Baskerville', serif;
  position: relative;
}

.Body ul {
  list-style-type: none;
}

.LeftFiller{
  right: 68%;
  width: 100%;
  position: absolute;
  height: -webkit-fill-available;
  top: 0;
  background-color: #d4d4d4;
}

.MainTitle{
  position: absolute;
  transform: rotate(90deg);
  left: 88%;
  top: 242px;
  width: fit-content;
  font-size: -webkit-xxx-large;
  font-family: 'Libre Baskerville', serif;
}
