.LeftCard{
  position: relative;
  margin-top: 6%;
  background-color: #d4d4d4;
  /* padding-left: 0;
  padding-top: 20px;
  padding-right: 0; */
  padding: 30px;
  left: 0;
  font-family: 'Libre Baskerville', serif;
}

.LeftFiller{
  width: 100%;
  position: absolute;
  right: 100%;
  height: -webkit-fill-available;
  top: 0;
  background-color: #d4d4d4;
}

.MainTitle{
  position: absolute;
  transform: rotate(90deg);
  left: 98%;
  top: 242px;
  font-size: -webkit-xxx-large;
  font-family: 'Libre Baskerville', serif;
}

.FullOverlay{
  background-color: black;
  position: relative;
}

.FullOverlay:hover > img{
  cursor: pointer;
  position: sticky;
  z-index: 5;
  opacity: 0.2;
  transition: opacity 1s;
}

.Viewproject{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.RightText > h2 {
  margin-top: 30px;
}
