.Arrow{
  margin-top: 40vh;
}

.Arrow div {
  display: inline-block;
  height: 40px;
  width: 40px;
  transform: rotate(225deg);
  transform-origin: center center;
  border-top: 1px solid #737373;
  border-left: 1px solid #737373;
  margin: auto;
}

.Box{
  border: 5px solid grey;
  width: 500px;
  height: 130px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto!important;
  margin-right: auto!important;
}

.ContainerColor {
  background-color: #f3f3f3;
  margin-top: 35vh;
  font-family: 'Libre Baskerville', serif;
}

.subheadings{
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

.Dot{
  height: 8px;
  width: 8px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

@media (max-width: 991px) {
  .Box{
    width: 408px;
    height: 156px;
  }
}
