.Attempt{
  min-height: 77vh;
}

.ButtonStyle{
  color: black!important;
  background-color: #d4d4d4!important;
  border-color: black!important;
  float: right;
}

.Contact {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  text-align: center;
  margin: auto;
  margin-top:5%;
  font-family: 'Oswald', sans-serif;
  width: 300px;
}

.Contact p{
  font-size: 50px;
  margin: 0;
}

.EmailInput{
  margin-top: 3%;
}
