.ContactBody{
  margin: 5% auto;
}

.ButtonStyle{
  color: black!important;
  background-color: #d4d4d4!important;
  border-color: black!important;
  float: right;
}

.ContactTitle {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  text-align: center;
  margin: auto;
  margin-top:4%;
  font-family: 'Oswald', sans-serif;
  width: 300px;
}

.ContactTitle p{
  font-size: 50px;
  margin: 0;
}

.ContactCard{
  padding: 25% 6%;
}

.ContactPictureCol, .ContactFieldsCol{
  padding: 0!important;
}

.ContactPicture img{
  width: 100%;
}

.ContactFieldsCol{
  background-color:  #f3f3f3;
}
.EmailInput{
  margin-top: 3%;
}
