.Caption {
  position: absolute;
  top: 18%;
  /* right: 0; */
  left: 40%;
  width: 70%;
  font-family: 'Libre Baskerville', serif;
  padding: 41px;
  color: white;
  background: rgba(0,0,0,.5);
  text-shadow: 1px 1px 2px #000000;
  border: 1px solid white;
}

.Content{
  /* padding-top: 13%; */
  /* height: 30vh; */
}

.HomeBody{
  /* height: 100vh; */
  padding-top: 26px;
}

.Thumbnail {
  position: relative;
  text-align: center;
  /* overflow: hidden; */
}

.Thumbnail img{
  width: 50%;
  display: flex;
}

.Title{
  position: absolute;
  right: 5%;
  top: 3%;
}
.Title h1{
  font-size: 5rem;
}
