.CurriculumStyle{
  text-align: right;
}

ul{
  padding-top: 20px;
  font-size: 13px;
}

.Portfolio {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  text-align: center;
  margin: auto;
  margin-top:5%;
  font-family: 'Oswald', sans-serif;
  width: 300px;
  font-size: 372%;
}

.ProjectProposal ul{
  text-align: center;
}

.UserManual ul{
  text-align: center;
}

.JobDescriptionSpacer{
  height: 40px;
}

.JobAids{
  padding-bottom: 6%;
}

.JobAids ul, .JobDescription ul{
  margin-top: 19px;
}

@media only screen and (max-width: 992px) {
  ul{
    padding-top: 5px;
  }
  .JobAids ul, .JobDescription ul{
    margin-top: 0px;
  }
  .PtDiv{
    padding-top: 3%;
  }
}
