.CurriculumStyle{
  text-align: right;
}


.Intro ul{
  /* width:100%; */
}

.Portfolio {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  text-align: center;
  margin: auto;
  margin-top:5%;
  font-family: 'Oswald', sans-serif;
  width: 300px;
  font-size: 372%;
}

.ProjectProposal ul, h3{
  text-align: center;
}

.UserManual ul{
  text-align: center;
}

.JobDescription ul{
  padding: 50px;
}

.JobDescriptionSpacer{
  height: 40px;
}

.JobAids{
  padding-bottom: 6%;
}

.JobAids ul{
  margin-top: 85px;
}
